@model NovaKidsMvc.ViewModels.UserKidsViewModel

@{
    ViewBag.Title = "Deletar Usuário";
}

<h2>Delete</h2>

<h3>Você Realmente deseja excluir esse usuário?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorarioKids)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorarioKids)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Senib)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Senib)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kids)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kids)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
